<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/etkab/Desktop/workspace/selenium"><classes><class name="TestNGTutorial.day1"><methods><include name="Demo"/><include name="SecondTest"/></methods></class><class name="TestNGTutorial.day2"><methods><include name="ploan"/></methods></class></classes></test></suite>